.form-container{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 450px;
  height: auto;
  padding: 20px;
  background-color: rgb(236, 236, 236);
  box-shadow: 0px 5px 10px rgb(125, 125, 125, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

::placeholder{
  color: grey;
  font-size: 16px;
  opacity: 0.8;
  }
  
.form-container h1 {
  margin: 0;
}
  
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-block: 20px;
  margin-top: 20px;
}

.form-element{
  width: 90%;
  position: relative;
}
  
.form input {
  width: 90%;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 10px gray;
}

.form input:hover{
  width: 92%;
  height: 42px;
  cursor: pointer;
}
  
label{
  color: rgb(104, 104, 104);
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: -22px;
  left: 40px;
}
  
.submit-btn{
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #21fd4d;
  box-shadow: 0px 5px 10px rgb(125, 125, 125, 0.5);
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}

.submit-btn:hover {
  width: 25%;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgb(125, 125, 125);
}

.link-btn{
  border: none;
  color: rgb(104, 104, 104);
  font-size: 14px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
}

.link-btn:hover{
  cursor: pointer;
  /* background-color: whitesmoke; */
  /* box-shadow: inset 0px 5px 10px rgba(128, 128, 128, 0.399), inset 0px -5px 10px white, 5px 5px 10px rgba(128, 128, 128, 0.399), 0px -5px 10px rgb(255, 255, 255); */
  border-radius: 20px;
  color: black;
  font-size: 15px;
  text-decoration: underline;
}

.login-btn{
  padding-inline: 30px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgb(125, 125, 125, 0.5);
}

.login-btn:hover{
  cursor: pointer;
  background-color: #21fd4d;
  box-shadow: 0px 5px 10px rgb(125, 125, 125, 0.5);
  border-radius: 20px;
}


.error-message{
  color: red;
}